.big__title {
    position: fixed;
    /* top: ${props => props.top};
left: ${props => props.left};
right: ${props => props.right}; */
    color: rgba(252, 246, 244, 0.1);
    font-size: calc(5rem + 5vw);
    z-index: 0;
    text-transform: uppercase;
}